<a href="https://wa.me/9955589832" target="_blank" rel="noopener noreferrer"
  class="flex items-center justify-center w-14 h-14 bg-green-500 text-white rounded-full shadow-lg hover:bg-green-600 transition">
  <span class="text-white text-2xl">
    <i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff;"></i>
  </span>
</a>